<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/assets/scripts/script.js" defer></script>
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Calendar</title>
  </head>
  <body>
    <header>CaLeNdAr EJS</header>
    <main>
      <section>
        <header></header>

        <div class="wrapper">
          <div class="calendar horizontal-flex">
            <div class="prev-month-btn"><a href="">◀︎</a></div>
            <table id="calendar-table">
              <caption>
                <span class="month-name">Month</span>
              </caption>
              <tr class="row row-header">
                <th scope="col">Lu</th>
                <th scope="col">Ma</th>
                <th scope="col">Mi</th>
                <th scope="col">Ju</th>
                <th scope="col">Vi</th>
                <th scope="col">Sa</th>
                <th scope="col">Do</th>
              </tr>
              <tr class="row">
                <td id="cel1"></td>
                <td id="cel2"></td>
                <td id="cel3"></td>
                <td id="cel4"></td>
                <td id="cel5"></td>
                <td id="cel6"></td>
                <td id="cel7"></td>
              </tr>
              <tr class="row">
                <td id="cel8"></td>
                <td id="cel9"></td>
                <td id="cel10"></td>
                <td id="cel11"></td>
                <td id="cel12"></td>
                <td id="cel13"></td>
                <td id="cel14"></td>
              </tr>
              <tr class="row">
                <td id="cel15"></td>
                <td id="cel16"></td>
                <td id="cel17"></td>
                <td id="cel18"></td>
                <td id="cel19"></td>
                <td id="cel20"></td>
                <td id="cel21"></td>
              </tr>
              <tr class="row">
                <td id="cel22"></td>
                <td id="cel23"></td>
                <td id="cel24"></td>
                <td id="cel25"></td>
                <td id="cel26"></td>
                <td id="cel27"></td>
                <td id="cel28"></td>
              </tr>
              <tr class="row">
                <td id="cel29"></td>
                <td id="cel30"></td>
                <td id="cel31"></td>
                <td id="cel32"></td>
                <td id="cel33"></td>
                <td id="cel34"></td>
                <td id="cel35"></td>
              </tr>
              <tr class="row">
                <td id="cel36"></td>
                <td id="cel37"></td>
                <td id="cel38"></td>
                <td id="cel39"></td>
                <td id="cel40"></td>
                <td id="cel41"></td>
                <td id="cel42"></td>
              </tr>
            </table>
            <div class="next-month-btn"><a href="">►</a></div>
          </div>
        </div>
      </section>
      <section>
        <header></header>
        <ul>
          <% for(let i = 0; i < tasks.length; i++) { %>
          <li>
            <div class="day-event vertical-flex">
              <header>
                <h3 class="event-title"><%= tasks[i].taskName %></h3>
                por <span><%= tasks[i].user %></span>
              </header>
              <p>
                Horario:<span
                  ><%= tasks[i].startHour %>:<%= tasks[i].startMinutes %></span
                >/<span
                  ><%= tasks[i].endHour %>:<%= tasks[i].endMinutes %></span
                >
              </p>
              <p>Eliminar</p>
            </div>
          </li>
          <% } %>
        </ul>
      </section>
    </main>
    <dialog id="AddTaskDialog">
      <header class="dialog-title"><p>Reserva de sala</p></header>
      <button id="closeDialogBtn">X</button>
      <form method="POST" action="/tasks">
        <fieldset class="vertical-flex">
          <legend>Añade titulo:</legend>
          <label
            ><input id="taskNameInput" type="text" name="taskName" required />
          </label>
          <label class="taskDatelbl"></label
          ><input type="text" name="taskDate" class="taskDate" />
          <label
            >Hora inicio:<input
              type="time"
              list="timeValues"
              name="timeStart"
              required
              id="taskTimeInput"
            />
            <datalist id="timeValues">
              <option value="07:00" label="07:00"></option>
              <option value="08:00" label="08:00"></option>
              <option value="09:00" label="09:00"></option>
              <option value="10:00" label="10:00"></option>
              <option value="11:00" label="11:00"></option>
              <option value="12:00" label="12:00"></option>
              <option value="13:00" label="13:00"></option>
              <option value="14:00" label="14:00"></option>
              <option value="15:00" label="15:00"></option>
              <option value="16:00" label="16:00"></option>
              <option value="17:00" label="17:00"></option>
              <option value="18:00" label="18:00"></option>
              <option value="19:00" label="19:00"></option>
              <option value="20:00" label="20:00"></option>
            </datalist>
          </label>
          <label
            >Duracion (1 / 2 / 3 ) horas<input
              type="range"
              name="duration"
              list="values"
              min="1"
              max="3"
              step="1"
              id="taskDurationInput"
              required
            />
          </label>
          <datalist id="values">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
          </datalist>
          <button type="submit" id="addTaskBtn">Añadir</button>
        </fieldset>
      </form>
    </dialog>
    <footer>
      <a href="/logout">logout</a>
    </footer>
  </body>
</html>
